body{
    margin: 0px;
    font-size: 1.5em;
    font-family: 'Goudy Bookletter 1911', serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Goudy Bookletter 1911', serif;
}

a{
    text-decoration: none;
    color:white;
}
#logo{
    margin-top: 60px;
}
/* Styles for the Large Header*/
.home{
    display: block;
    height: 100vh;
    background-image: url(../imgs/bb_BG.jpg);
    background-size: cover;
    background-position: center;
}
.menu{
    display:flex;
    justify-content: space-between;
}
.links{
    text-align: left;
    position: absolute;
    bottom: 30px;
}
.navLinks{
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1.25em;
}
.navLinks:hover{
    list-style-image:url(../imgs/Icon.png);
    text-decoration: none;
    color: darkred;
}
a:hover{
    list-style-image:url(../imgs/Icon.png);
    text-decoration: none;
    color: darkred;
}

/* Styles for the Article Bits*/
.block{
    display:block;
    width: 100%;
    background-color: lightgrey;
    padding: 10px 30px;
    margin-top: 10px;
}
.content{
    margin:auto;
    max-width:1000px;
}
.ion-chevron-down{
    display:block;
    padding-top:5px;
    text-align: center;
}
.ion-chevron-down:hover{
    color:red;
}
.hblock{
    display: inline-block;
    vertical-align: middle;
}
/* Logo Tray*/
.logoTray{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
}
.retailerLogo{
    padding:15px;
    width: 25%;
}
.retailerLogo img{
    display: inline-block;
    width: 100%;
    padding:5px;
}
/*Footer CSS*/
#footer{
background-color:black;
color:#909090;
margin-bottom:-15px;
padding: 15px;
}

#social{
    text-align: center;
}
#footer i{
    font-size: 2em;
    padding: 5px 10px;
}
#footer i:hover{
    color: darkred;
}
.pageFooter ul{
    list-style: none;
    /*border: 2px solid red;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pageFooter li{
    display:inline;
    padding:20px;
}


/*mobile considerations*/
/*For Smaller Screens do this*/
@media screen and (max-width:480px) {
    .links{
        margin-top: 10px;
        text-align: center;
    };
}
